<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">

    <div class="list card" ng-repeat="message in messages">
      <img ng-src="{{message.face}}" style="width: 64px; height: 64px">
      <p>
        {{message.content}}
      </p>

    </div>

  </ion-content>
</ion-view>
