<ion-view view-title="啦个事">
	<ion-nav-buttons side="right">
		<a class="button button-icon icon ion-ios-paperplane-outline" ng-click="createMoment()"></a>
	</ion-nav-buttons>
	<ion-content class="padding">
		<div class="list">
			<label class="item item-input">
				<textarea placeholder="Comments"></textarea>
			</label>
			<a class="button button-icon icon ion-ios-camera-outline" style="float: right;" ng-click="addImages()"></a>
		</div>
		<div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
			<div class="col col-25" ng-if="$index < images.length">
				<img ng-src="{{images[$index]}}" width="100%" />
			</div>
			<div class="col col-25" ng-if="$index + 1 < images.length">
				<img ng-src="{{images[$index + 1]}}" width="100%" />
			</div>
			<div class="col col-25" ng-if="$index + 2 < images.length">
				<img ng-src="{{images[$index + 2]}}" width="100%" />
			</div>
			<div class="col col-25" ng-if="$index + 3 < images.length">
				<img ng-src="{{images[$index + 3]}}" width="100%" />
			</div>
		</div>
	</ion-content>
</ion-view>
