<ion-view view-title="新留言">
    <ion-content class="ion-content-position">
        <ion-list>
            <ion-item ng-repeat="comment in newComments" href="#/tab/moment/detail/{{comment.pid._id}}">
                <div class="new-comment-user">
                    <img ng-src="{{comment.from.face}}" >
                    <bold>{{comment.from.nickname}}</bold>
                </div>
                <p>{{comment.text}}</p>
                <div style="float: right;">
                    <p>{{comment.pid.content}}</p>
                    <img ng-src="{{comment.pid.images[0].src}}" ng-show="comment.pid.images.length > 0" style="width: 50px; height: 50px">
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
