<ion-view view-title="梁山圈">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-plus-outline" ng-click="createPost()"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <button class="button button-full icon-right ion-refresh" ng-click="getNew()">刷新</button>
    <div class="list card" ng-repeat="post in posts">
      <div class="item item-divider">
        <img ng-src="{{post.posted_by.face}}" style="width: 30px; height: 30px">
        {{post.posted_by.nickname}}
      </div>
      <div class="item item-body">
        <div>
          {{post.content}}
          <ion-gallery ion-gallery-items="post.images"></ion-gallery>
          <p><small>{{post.created_at_from_now}}</small></p>
        </div>
        <div>
          <a class="button button-icon icon ion-ios-heart-outline" ng-click="addLike(post)">{{post.likes.length}}</a>
          <a class="button button-icon icon ion-ios-chatbubble-outline" ng-click="toggleComments(post)">{{post.comments.length}}</a>
        </div>
        <ion-list ng-show="post.showComments">
          <ion-item ng-repeat="comment in post.comments" class="post-coment-item">
            <p>
              <img ng-src="{{comment.from.face}}" style="width: 20px; height: 20px">
              <b>{{comment.from.nickname}}:</b> {{comment.text}}
            </p>
          </ion-item>
          <input type="text" placeholder="说两句呗..." ng-enter="addComment(post)" ng-model="post.newComment">
        </ion-list>
      </div>
    </div>
    <button class="button button-full icon-right ion-more" ng-click="getMore()">更多</button>
  </ion-content>
</ion-view>
