<ion-view view-title="梁山圈">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-plus-outline create-post-button" ng-click="createPost()"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <button class="button button-full icon-right ion-refresh" ng-click="getNew()">刷新</button>
    <div class="post-new-comment" ng-show="user && newComments.length > 0" ng-click="openNewComments()">
      <img ng-src="{{newComments[newComments.length-1].from.face}}" style="width: 30px; height: 30px">
      {{newComments.length}}
    </div>
    <div class="list card customized-card" ng-repeat="post in posts">
      <div class="item item-divider customized-card-item">
        <img ng-src="{{post.posted_by.face}}" style="width: 25px; height: 25px">
        {{post.posted_by.nickname}}
      </div>
      <div class="item item-body post-item-body">
        <div>
          {{post.content}}
          <ion-gallery ion-gallery-items="post.images" ion-gallery-toggle="false"></ion-gallery>
          <p class="post-created-at"><small>{{post.created_at_from_now}}</small></p>
        </div>
        <div class="post-feedback">
          <a class="button button-icon icon ion-ios-heart-outline" ng-click="addLike(post)">{{post.likes.length}}</a>
          <a class="button button-icon icon ion-ios-chatbubble-outline" ng-click="toggleComments(post)">{{post.comments.length}}</a>
        </div>
        <ion-list ng-show="post.showComments">
          <ion-item ng-repeat="comment in post.comments" class="post-comment-item">
            <p ng-click="replyComment(post, comment)">
              <img ng-src="{{comment.from.face}}" style="width: 20px; height: 20px">
              <b>{{comment.from.nickname}}:</b> {{comment.text}}
            </p>
          </ion-item>
          <input type="text" class="new-comment-input" auto-focus="{{post.autoFocus}}" placeholder="说两句呗..." ng-model="post.newComment.content">
          <a class="button button-icon icon ion-paper-airplane" ng-click="addComment(post)"></a>
        </ion-list>
      </div>
    </div>
    <button class="button button-full icon-right ion-more" ng-click="getMore()">更多</button>
  </ion-content>
</ion-view>
