<ion-view view-title="啦呱">
  <ion-content style="margin-top: 12px;">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" ng-click="openChatDetails(chat)">
        <img ng-src="{{chat.face || './img/default_photo.png'}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.last_text}}</p>
        <a ng-show="chat.unread_by.indexOf(user._id) > -1">未读</a>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!-- <ion-option-button class="button-energized" ng-click="report(chat)">
          举报
        </ion-option-button> -->
        <ion-option-button class="button-dark" ng-click="block(chat)">
          屏蔽
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          删除
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
