.bar-footer {
  overflow: visible !important;
}

.bar-footer textarea {
  resize: none;
  height: 25px;
  .item-input-inset {
  	width: 100% !important;
  	position: relative;
  }
}

.chat-footer-bar {
	position: relative;
}