.create-post-button {
    margin-top: 6px;
}

.customized-card {
    margin: 10px auto 1px;
    .customized-card-item {
        padding-bottom: 0px;
        padding-top: 5px;
    }
}

.post-item-body {
    overflow: hidden;
    padding: 2px 16px;
}

.post-feedback {
    text-align: right;
    a {
        min-height: 36px;
        height: 36px;
    }
}

.post-created-at {
    margin-top: 0 !important;
    position: absolute;
}

.post-comment-item {
    padding: 0;
    border-right: 0px;
    border-left: 0px;
}

.post-comment-content {
    display: -webkit-inline-box;
    width: 90%;
}

.post-new-comment {
    text-align: center;
}

.new-comment-input {
    display: inline !important;
    width: 80%;
}
