.post-item-body {
    padding: 2px 16px;
}

.post-feedback {
    a {
        min-height: 36px;
        height: 40px;
    }
}

.post-created-at {
    margin-top: 0 !important;
}

.post-coment-item {
    padding: 0;
}

.post-new-comment {
    text-align: center;
    border: dotted 1px;
    margin: 0 25%;
}
